@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bi-background: #e8e8e8;
  --on-bi-background: #181919;

  --bi-primary: #2563eb;
  --on-bi-primary: #1e3a8a;
  --bi-primary-container: #dbeafe;

  --bi-secondary: #7c3aed;
  --on-bi-secondary: #4c1d95;
  --bi-secondary-container: #ede9fe;

  --bi-tertiary: #d97706;
  --on-bi-tertiary: #92400e;
  --bi-tertiary-container: #fef3c7;

  --bi-surface: #0891b2;
  --on-bi-surface: #164e63;
  --bi-surface-container: #cffafe;

  --bi-accent: #db2777;
  --on-bi-accent: #831843;
  --bi-accent-container: #fce7f3;
}

:root[data-theme="dark"],
:root.dark,
.dark,
[data-theme="dark"] {
  --bi-background: #0c0c0c;
  --on-bi-background: #f2f2f2;

  --bi-primary: #3b82f6;
  --on-bi-primary: #93c5fd;
  --bi-primary-container: #3b83f637;

  --bi-secondary: #8b5cf6;
  --on-bi-secondary: #c4b5fd;
  --bi-secondary-container: #8a5cf644;

  --bi-tertiary: #f59e0b;
  --on-bi-tertiary: #fde68a;
  --bi-tertiary-container: #f59e0b37;

  --bi-surface: #22d3ee;
  --on-bi-surface: #67e8f9;
  --bi-surface-container: #22d3ee23;

  --bi-accent: #ec4899;
  --on-bi-accent: #f9a8d4;
  --bi-accent-container: #ec489937;
}

:root[data-theme="light"],
:root.light,
.light,
[data-theme="light"] {
  --bi-background: #e8e8e8;
  --on-bi-background: #181919;

  --bi-primary: #2563eb;
  --on-bi-primary: #1e3a8a;
  --bi-primary-container: #dbeafe;

  --bi-secondary: #7c3aed;
  --on-bi-secondary: #4c1d95;
  --bi-secondary-container: #ede9fe;

  --bi-tertiary: #d97706;
  --on-bi-tertiary: #92400e;
  --bi-tertiary-container: #fef3c7;

  --bi-surface: #0891b2;
  --on-bi-surface: #164e63;
  --bi-surface-container: #cffafe;

  --bi-accent: #db2777;
  --on-bi-accent: #831843;
  --bi-accent-container: #fce7f3;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]):not([data-theme="dark"]):not(.light):not(
      .dark
    ) {
    --bi-background: #0c0c0c;
    --on-bi-background: #f2f2f2;

    --bi-primary: #3b82f6;
    --on-bi-primary: #93c5fd;
    --bi-primary-container: #3b83f637;

    --bi-secondary: #8b5cf6;
    --on-bi-secondary: #c4b5fd;
    --bi-secondary-container: #8a5cf644;

    --bi-tertiary: #f59e0b;
    --on-bi-tertiary: #fde68a;
    --bi-tertiary-container: #f59e0b37;

    --bi-surface: #22d3ee;
    --on-bi-surface: #67e8f9;
    --bi-surface-container: #22d3ee23;

    --bi-accent: #ec4899;
    --on-bi-accent: #f9a8d4;
    --bi-accent-container: #ec489937;
  }
}

@theme inline {
  --color-bi-background: var(--bi-background);
  --color-on-bi-background: var(--on-bi-background);

  --color-bi-primary: var(--bi-primary);
  --color-on-bi-primary: var(--on-bi-primary);
  --color-bi-primary-container: var(--bi-primary-container);

  --color-bi-secondary: var(--bi-secondary);
  --color-on-bi-secondary: var(--on-bi-secondary);
  --color-bi-secondary-container: var(--bi-secondary-container);

  --color-bi-tertiary: var(--bi-tertiary);
  --color-on-bi-tertiary: var(--on-bi-tertiary);
  --color-bi-tertiary-container: var(--bi-tertiary-container);

  --color-bi-surface: var(--bi-surface);
  --color-on-bi-surface: var(--on-bi-surface);
  --color-bi-surface-container: var(--bi-surface-container);

  --color-bi-accent: var(--bi-accent);
  --color-on-bi-accent: var(--on-bi-accent);
  --color-bi-accent-container: var(--bi-accent-container);
}

body {
  background: var(--color-bi-background);
  color: var(--color-on-bi-background);
}
